{{/* Left sidebar for news section */}}
<aside class="news-sidebar">
  <h2 class="sidebar-title">NEWS</h2>
  <nav class="news-nav" aria-label="News categories">
    {{ $currentPath := .RelPermalink }}
    
    {{/* Primary news categories */}}
    <ul class="news-nav-list news-nav-primary">
      <li class="{{ if in $currentPath "press-releases" }}active{{ end }}">
        <a href="/news/press-releases/">Press Releases</a>
      </li>
      <li class="{{ if in $currentPath "statements-remarks" }}active{{ end }}">
        <a href="/news/statements-remarks/">Statements & Remarks</a>
      </li>
      <li class="{{ if in $currentPath "readouts" }}active{{ end }}">
        <a href="/news/readouts/">Readouts</a>
      </li>
      <li class="{{ if in $currentPath "testimonies" }}active{{ end }}">
        <a href="/news/testimonies/">Testimonies</a>
      </li>
    </ul>
    
    {{/* Secondary links */}}
    <ul class="news-nav-list news-nav-secondary">
      <li class="{{ if in $currentPath "featured-stories" }}active{{ end }}">
        <a href="/news/featured-stories/">Featured Stories</a>
      </li>
      <li class="{{ if in $currentPath "webcasts" }}active{{ end }}">
        <a href="/news/webcasts/">Webcasts</a>
      </li>
      <li class="{{ if in $currentPath "contacts-for-members" }}active{{ end }}">
        <a href="/news/contacts-for-members-of-the-media/">Press Contacts</a>
      </li>
    </ul>
  </nav>
</aside>
